[Unit]
Description=Setup Git and Pip
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/root/biotron-test-jig-software
ExecStart=/bin/bash /root/biotron-test-jig-software/update_jig_and_env.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target